.task {
    color: var(--blue);
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.completed {
    color: var(--purple);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.done {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 561px;
width: 736px;
height: 19px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.done task {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 561px;
width: 736px;
height: 19px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}